<h2>liste de films</h2>
<div class="bloc">
    <div *ngFor="let f of tabFilms ; let index=index" [ngStyle]="{backgroundColor: getColor(f.nbJaime,f.nbJeNaimeps)}">
    <h4>Nom du film : {{f.nomFilm}} </h4>
     <div *ngIf="f.disponible; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>{{f.nomFilm}} est disponible </ng-template><br>
      <ng-template #elseBlock>{{f.nomFilm}} n'est pas disponible</ng-template><br>  
    <img class="image" [src]='f.imageFilm'><br>
    <button (click)="onJaime(index)">J’aime</button> {{f.nbJaime}}<br>
    <button (click)="onJaimePas(index)">J’aime pas</button> {{f.nbJeNaimeps}}<br>
    </div>
     <!--

    <div>
    <h4>Nom du film : {{tabFilms[1].nomFilm}} </h4>
    <img class="image" [src]='tabFilms[1].imageFilm'><br>
    <button (click)="onJaime(1)">J’aime</button> {{tabFilms[1].nbJaime}}<br>
    <button (click)="onJaimePas(1)">J’aime pas</button> {{tabFilms[1].nbJeNaimeps}}<br>
    </div>
    <div>
    <h4>Nom du film : {{tabFilms[2].nomFilm}} </h4>
    <img class="image" [src]='tabFilms[2].imageFilm'><br>
    <button (click)="onJaime(2)">J’aime</button> {{tabFilms[2].nbJaime}}<br>
    <button (click)="onJaimePas(2)">J’aime pas</button> {{tabFilms[2].nbJeNaimeps}}<br>
    </div>
    -->

</div>